<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
</head>
<body class="EmployeeForm">
    <h1>Hey, I'm looking for Employeees!!</h1>
    <h2>Employeees Can Register here!!</h2>
<Form method="POST" action="/Employee/add">
<input placeholder ="EmployeeName"  name = "EmployeeName">
<input placeholder="Designation" name="Designation">
<button type ="submit">save</button>
</Form>
</body>
</html>