
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Form</title>
</head>
<body class="MedicalForm">
    <h1>Hey, I'm looking for Doctor Details!!</h1>
    
    <Form method="POST" action="/Doctor/add">
<input placeholder ="Doctor_ID"  name = "Doctor_Id">
<input placeholder="Doctor_Name" name="Doctor_Name">
<input placeholder="Specialist" name="Specialist">
<button type ="submit">save</button>
</Form>
</body>
</html>